

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-container">
      <p>LOGO</p>
    </div>
    <ul>
      <li routerLink="/dashboard"><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li routerLink="/user"><mat-icon>person</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <p>    </p>
      <mat-toolbar color="primary">
       
      
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
         
      
        <span class="toolbar-headline">CRM System</span>
      </mat-toolbar>

      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
     


  </div>

</mat-drawer-container>